@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --white: #fff;
  --black: #000;
  --purple-950: #301534;
  --purple-600: #8B6990;
  --purple-100: #F8EEFF;
  --voilet-600: #AD28EB;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

body {
    background-color: var(--purple-100);
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Work Sans', sans-serif;
    background: url('./assets/images/background-pattern-mobile.svg') no-repeat top center fixed;
  
    @media screen and (width > 600px){
      background: url('./assets/images/background-pattern-desktop.svg') no-repeat top center fixed;
    }

    .accordion{
      display: flex;
      flex-direction: column;
      width: clamp(327px, 80vw, 600px);
      padding: clamp(24px, 6vw, 40px);
      border-radius: clamp(8px, 3vw, 16px);
      background: var(--white);
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);

      .accordion__header {
          display: flex;
          align-items: center;
          margin-bottom: 32px;
          

          img{
            width: clamp(24px, 6vw, 40px);
            margin-right: 24px;
          }
          h1 {
            font-size: clamp(32px, 8vw, 56px);
            font-weight: 700;
          }
      }

      details {

        summary{
          line-height: 1.5;
          

          span{
            display: inline-block;
            width: 22ch;
            font-size: clamp(16px, 3vw, 18px);
            font-weight: 600;

            @media screen and (width > 700px) {
              width: unset;
            }
          }
          &:first-of-type{
          list-style: none;    
          }
          &:last-of-type{
            background: url('./assets/images/icon-plus.svg') no-repeat right center;
            background-size: 30px;
          }
        }
      &[open] {
        summary:last-of-type {
          background: url('./assets/images/icon-minus.svg') no-repeat right center;

        }
      }
      &:not(:first-of-type){
        margin-top: 24px;
      }
      &:not(:last-of-type){
        padding-bottom: 24px;
        border-bottom: 1px solid var(--purple-100);
      }

      p{
        padding-top: 24px;
        font-size: clamp(14px, 3vw, 16px);
        color: var(--purple-600);
      }
    }
  }
}

